[submodule "app/src/main/cpp/heaps"]
	path = app/src/main/cpp/heaps
	url = https://github.com/HeapsIO/heaps
[submodule "app/src/main/cpp/libjpeg-turbo"]
	path = app/src/main/cpp/libjpeg-turbo
	url = https://github.com/openstf/android-libjpeg-turbo
